
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nabla&family=Outfit:wght@100..900&family=Silkscreen:wght@400;700&family=Tilt+Neon&display=swap');



:root{
    --on-hover:dodgerblue;
    --bg-body:whitesmoke;
    --bg-nav:white;
    --color-links:grey;
    --text-color:rgb(33,33,33);
    --read-more:blue;
}

body{
    box-sizing:border-box;
    background-color:var(--bg-body);
    font-family:"Outfit",sans-serif;
    line-height:1.6;
    overflow-x: hidden;
}
/* this is the styling for the navbar  */
#navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:60px;
    top:0;
    position:sticky;
    background-color:var(--bg-nav);
    z-index:100;
}

/* the styling for the logo  */

/* #logo{
    font-size:3rem;
    font-weight:800;
    transition:font-size 0.3s ease;
} */
.nav-left h1{
    font-size:3rem;
    font-weight:800;
    transition:font-size 0.3s ease;
}
#navbar.scrolled .nav-left h1{
    font-size:1.5rem;
}

.nav-right{
    margin:0px 20px;
}
.nav-right a{
    margin:0px 20px;
    text-decoration:none;
    color:var(--color-links);
    font-size:1.3rem;
}
/* the effect on hover on the ancer <a> elements */
.nav-right a:hover{
    color:var(--on-hover);
    padding-bottom:2px;
    border-bottom:2px solid var(--on-hover);
}

.main{
    width:90%;
    height:100vh;
    margin:30px auto;
    padding-bottom:50px;
}
.featured-article{
    height:50vh;
    width:100%;
    margin-bottom:30px;
    background-color:var(--bg-nav);
    box-shadow:  20px 20px 60px #949494;
    border-radius:5px;
}
.featured-article img{
    height:65%;
    width:100%;
}
.featured-article h1{
    font-size:1.4rem;
    margin-left:10px;
}
.featured-article p{
    position:relative;
    top:-10px;
}
.featured-article p, 
.featured-article a{
  margin-left:20px;
}
.featured-article a{
    position:relative;
    top:-20px;
    text-decoration:none;
    color:var(--read-more);
    transition:color 0.3s;
}
.featured-article a:hover{
     color:darkblue;
}

.smaller-articles{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:50vh;
    width:100%;
    gap:20px;
    justify-content:space-around;
    box-shadow:20px 20px 60px #949494;
    overflow:hidden;
}
.smaller-articles article
{
    width:32%;
    height:100%;
    /* border:2px solid black; */
    flex-wrap:wrap;
}
.smaller-articles img{
    width:100%;
    height:200px;
}
.smaller-articles h2{
    font-size:1.3rem;
    font-weight:800;
    position:relative;
    top:-20px;
    margin-left:10px;
    margin-bottom:40px;
}
.smaller-articles article p{
    position:relative;
     top:-45px;
    margin-bottom:40px;
    margin-left:20px;
    margin-top:20px;
}
.smaller-articles a{
    position:relative;
    top:-70px;
    text-decoration:none;
    color:var(--read-more);
    margin-left:20px;
    transition:color 0.3s;
}
.smaller-articles a:hover{
    color:darkblue;
}

footer{
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    font-size:1.2rem;
}
footer small{
    margin:10px auto;
    width:100%;
    text-align:center;
    font-size:1rem;
}
footer .social-icons{
    margin:10px auto;
    width:12%;
    display:flex;
    justify-content:space-between;
    font-size:1.3rem;
}
.social-icons a{
    color:var(--text-color);
}
.social-icons a:hover{
    color:var(--on-hover);
    transform:scale(1.1);
}

/* Media queries ----------------- */

@media screen and (max-width:1366px){
    .nav-right{
        margin-right:100px;
    }
}

@media screen and (max-width:1025px){
    .nav-left h1{
        font-size:1.5rem !important;
    }
    .smaller-articles{
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;
        gap:10px;
        overflow:hidden;
    }

    .smaller-articles article{
        width:31%;
        object-fit:cover;
        height:100%;
        /* border:2px solid; */
    }
    .smaller-articles  img{
        width:100%;
        height:300px;
    }
   .smaller-articles h2{
     top:-30px;
     margin-top:30px;
   }
  
   .main{
    width:95%;
   }
}


/* smartphones media query */

@media screen and (max-width:600px){
    #navbar{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        height:90px;
    }
    .nav-left h1{
      font-size:1.5rem;
      margin-bottom:0px;
    }
    .nav-right{
        margin:0px auto;
    }
    .featured-article img{
      width:100%;
      height:150px;
    }
    .featured-article h1{
        font-size:1.1rem;
    }
   .smaller-articles{
     flex-direction:row;
   }
   .smaller-articles article{
    width:100%;
    flex-wrap:wrap;
    height:auto;
    margin:20px auto;
   }
   .smaller-articles article img{
    height:140px;
    object-fit:cover;
   }
   .smaller-articles article h2{
    font-size:1.1rem;
   }
   #t-one{
    object-position:50% 30%;
   }
   .smaller-articles article p{
      top:-60px;
   }
   .smaller-articles article a{
    top:-80px;
   }
}


