
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nabla&family=Outfit:wght@100..900&family=Silkscreen:wght@400;700&family=Tilt+Neon&display=swap');


:root{
    --bg-color:rgb(244, 240, 240);
    --container-color:white;
    --menu-color:#333;
    --text-color:black;
    --footer-text:white;
    --footer-bg:#354F52;
    --icons-color:dodgerblue;
    --box-shadow:0px 0px 30px rgba(0,0,0,0.5);
    --letter-spacing-animation:1em;
}
[data-theme="dark"]{
  --letter-spacing-animation:1em;
  --bg-color:#121212;
  --text-color:white;
  --container-color:#121212;
  --box-shadow:0px 0px 30px rgba(255 , 255, 255, 0.5);
 --footer-text:white;
 --footer-bg:#354F52;
 --menu-color:whitesmoke;
}
.theme-switcher i{
 color:var(--text-color, whitesmoke);
}
html{
    box-sizing:border-box;
    background-color:var(--bg-color , whitesmoke);
    scroll-behavior: smooth;
}
body{
    margin:0;
    min-height:100vh;
    overflow-x: hidden;
    transition:background-color 1s ease , color 1s ease;
    /* overflow:hidden; */
}
.theme-switcher{
    position:fixed;
    z-index:100;
    right:5px;
    top:15px;
    cursor:pointer;
    padding:2px;
    color:var(--text-color);
   
}
h1{
    font-family:'IBM Plex Mono';
    font-size:50px;
    color:var(--text-color);
}
.container{
    margin:20px auto;
    background-color:var(--bg-color);
    width:80%;
    height:90vh;
    padding:20px;
    border-radius:10px;
    box-shadow:var(--box-shadow);
}
/* animation */
@keyframes focus-in-contract{
    0% {
         letter-spacing:var(--letter-spacing-animation);
         filter:blur(12px);
         opacity:0;
    }
    100%{
        letter-spacing:0;
        filter:blur(0);
        opacity:1;
    }
}
.container-icons{
    text-align:center;
    position:relative;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    color:var(--text-color);
}
.container-icons i{
    /* display:flexbox; */
    animation:focus-in-contract 3s linear;
    transition:transform 0.5s ease;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 10px;
    font-size:30px;
}
.container-icons i:hover{
     transform:scale(1.3);
    cursor:pointer;
}
.container-icons i:active{
    /* font-size:30px; */
    transform:scale(1);
    color:var(--icons-color);
}

.main-text{
    font-weight:700;
    font-size:clamp(45px,10vw,100px);
    text-align:center;
    font-style:italic;
    position:relative;
    top:27vh;
    animation-name:focus-in-contract;
    animation-duration:3s;
     animation-timing-function: linear;
    
}

.second-page{
    position:relative;
    top:100px;
    display:flex;
    background-color:var(--bg-color);
    overflow:hidden;
    width:60%;
    margin:20px auto;
    padding:20px;
    height:60vh;
    align-items:center;
    justify-content: center;
    border-radius:10px;
    border:4px solid var(--text-color);
    box-shadow:var(--box-shadow);
    color:var(--text-color);

}

.second-page img{
   object-fit:cover;
}
.second-page-title{
     font-family:'Outfit',sans-serif;
     font-size:30px;
     position:relative;
     top:100px;
    text-align:center;
    margin:0px auto;
    padding:20px;
    color:var(--text-color);
}
.third-page{
    position:relative;
    color:var(--text-color);
    top:220px;
    height:100vh;
    width:70%;
    margin:200px auto;
    object-fit: cover;
}
.third-page h2{
    text-align:center;
    text-transform:capitalize;
    font-family:'Outfit', sans-serif;
    font-size:30px;
    position: relative;
    top:54px;
    margin-top:30px;
}
.img-container{
    margin-top:60px;
    display:flex;
    flex-direction:row;
     width:100%;
    justify-content:space-around;
    height:auto;
    justify-content:center;
   
}
.img-container img{
    width:33%;
    margin:20px;
    border:4px solid var(--text-color);
    border-radius:10px;
}

.blog-container{
     position:relative;
     top:-50px;
    border-radius:10px;
    width:70%;
    margin:0px auto;
    padding:20px;
    text-align:center;
    color:var(--text-color);
    
    
}
.title-fourth-page{
    font-family:"Outfit",sans-serif;
    font-weight:700;
    letter-spacing:2px;
    position:relative;
    top:40px;
}
.blog-item{
    text-align: left;
    width:70ch;
    margin:50px 0px;
    padding:0px 20px;
}
.blog-item h3{
    text-transform:capitalize;
    font-family:'Arial',sans-serif;
}
.blog-item p{
    font-family:"IBM Plex Mono", sans-serif;
}

.footer{
    position:relative;
    width:100%;
    height:100vh;
    overflow-y:hidden;
}
.footer svg{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    
}
.footer footer{
    position:fixed;
    height:20px;
     width:100%;
    bottom:0;
    left:0;
    padding:5px;
    background-color:var(--footer-bg);
    color:var(--footer-text);
   margin:0px auto;
}

.footer h2{
    text-align:center;
    font-family:'Outfit',sans-serif;
    font-size:30px;
    
}
.footer h2 a {
    position:relative;
    bottom:-50px;
    text-decoration:none;
    color:var(--text-color);
}

.footer h2 a:hover{
    padding-bottom:5px;
    border-bottom:5px solid var(--text-color);
}

footer .text-footer{
        text-align:center;
        position:fixed;
        bottom:0;
        padding:4px auto;
        margin:4px auto;
        line-height:20px;
        letter-spacing:1px;
        width:100%;

}

/* navigation menu */

.menu-icon{
    z-index:10001;
    position:fixed;
    top:5px;
    left:15px;
    width:2rem;
    height:2rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    cursor:pointer;
    top:10px;
    left:10px;
}

.menu-icon div{
    height:0.25rem;
    background-color:var(--text-color);
    transition:all 0.3s ease-in-out;
}

/* rotate first bar */

.active .bar1{
    transform:translateY(0.6rem) rotate(-45deg);
}

/* fade out the second bar */
.active .bar2{opacity:0;}

/* rotate the third bar */
.active .bar3{
     transform:translateY(-0.75rem) rotate(45deg);
}
nav{
    height:65%;
    position:fixed;
    top:0;
    left:0;
    transform:translateX(-100%);
    transition:transform 0.3s ease-in-out;
    width:200px;
    z-index:1000;
    background-color:var(--bg-color);
}

nav ul{
    position:relative;
    list-style:none;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* justify-content:space-around; */
    text-align:center;
    height:85%;
    margin-top: 80px;
    margin-right: 44px;
    
   
}
nav ul li{
    display:flex;
    padding:0;
    margin:20px  auto;
    line-height:1.2;
}


nav ul li a{
    text-decoration:none;
    font-size:2rem;
    margin:0px auto;
    display:block;
    color:var(--text-color);
}

a:hover{
    padding-bottom:2px;
    border-bottom:2px solid var(--text-color);

}

nav.active{
    transform:translateX(0);
}
.nav-wrapper{
    height:60px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    background:var(--bg-color);
}


/* Media Queries -------- */

/* All Mobile Devices */

@media screen and (max-width:1200px){
    :root{
        --letter-spacing-animation:.1em;
    }
  
    nav{
        width:100%;
        background-color:var(--bg-color);
    }

    .footer > svg:last-child {
        border:20px solid #344E41;
    }
    .footer svg{
        bottom:687px;
    }
    .footer footer{
       bottom:687px;
       left:0;
       width:100vw;
    }
    footer .text-footer{
        bottom:687px;
    }
    .blog-item{
        width:60ch;
    }
    .main-text{
        top:15vh;
    }
    .container{
        height:63vh;
    }
    .container-icons{
        top:19%;
    }
    .second-page{
        top:40px;
        height:30vh;
        width:70%;
    }
    .second-page img{
        object-fit:cover;
        display:inline-block;
    }

}

@media screen and (max-width:1000px){
  :root{
    --letter-spacing:.1em;
  }
   .footer > svg:last-child {
        border:20px solid #344E41;
    }
    .footer svg{
        bottom:500px;
    }
    .footer footer{
       bottom:500px;
       left:0;
       width:100vw;
    }
    footer .text-footer{
        bottom:500px;
    }
}

@media screen and (max-width:440px){
    .theme-switcher{
        right:170px;
    }
    .container-icons {
        top:22%;
    }
    :root{
        --letter-spacing-animation:.1em;

    }
    body{
        overflow-x:hidden;
    }
      .footer svg{
        bottom:250px;
    }
    .footer footer{
        bottom:250px;
    }
    .footer .text-footer{
        bottom:250px;
        text-align:left;
    }
     nav ul{
        margin-right:170px;
    }
     .blog-item p{
        width:33ch;
    }
     .second-page-title h1{
        font-size:25px;
        margin-bottom:50px;
    }
    footer .footer-text{
        padding-right:5px;
    }
    .nav-wrapper{
        position:fixed;
        top:0;
        left:0;
    }
    .blog-container h2{
        font-size:clamp(20px,2vw,30px);
    }
   
    .blog-item h3{
        font-size:clamp(16px,1.2vw,24px);
    }
}

@media screen and (max-width:420px){
    :root{
        --letter-spacing-animation:.1em;
    }
    body{
        overflow-x:hidden;
        width:100%;
    }
    .theme-switcher{
        position:fixed;
        right:25px;
    }

    .container{
       width:100%;
       position:relative;
       top:0;
       left:70px;
       
    }

    .container-icons{
        top:23%;
    }

    .second-page{
        position:relative;
        width:90%;
        margin:20px auto;
        left:55px;
    }
    .second-page-title{
        margin-top:30vh;
        position:relative;
        left:30px;
        top:94px;
        width:100%;
        margin:20px auto;
    }
    .second-page-title h1{
        font-size:25px;
        margin-bottom:50px;
    }
    .blog-container{
        top:-290px;
        margin:10px auto;
        padding:10px;
        width:100%;
        height:80%;
        margin-left:60px;
    }
    .blog-item{
        top:-20px;
        height:20%;
    }
    .blog-item h3{
        margin:10px;
    }
    .blog-item p{
        width:35ch;
    }
    .footer svg{
        bottom:310px;
        width:100%;
    }
    .footer{
        height:100vh;
        width:100%;
    }
    .footer footer{
        bottom:333px;
        left:13%;
    }
    .footer .text-footer{
        bottom:333px;
    }
    nav ul{
        margin-right:170px;
    }

    .third-page h2{
        top:75px;
        width:100%;
        left:35px;
        text-align:center;
        font-size:clamp(24px,2vw,30px);
    }

    .img-container{
        margin-top:200px;
        margin-left:18%;
    }
    .third-page img{
        width:25%;
    }

    .footer{
        left:17%;
        width:100vw;
    }

    .footer h2 a{
       top:-30px;
       margin-top:50px;
    }
}

@media screen and (min-width:700px) and (max-width:940px){

    .theme-switcher{
        right:25px;
    }
    .container{
        height:85vh;
    }
    .container-icons{
        top:5%;
    }
    .main-text{
        top:5vh;
    }
    nav {
        height:100%;
    }
    nav ul{
        margin-top:25px;
    }
    .img-container img{
        width:25%;
    }
    .title-fourth-page{
        top:19px;
    }
    .blog-item{
        margin:30px 0px;
    }
    .footer h2 a{
        bottom:-30px;
    }
    .footer svg{
        bottom:0;
    }
    .footer footer{
        bottom:0;
    }
    .footer  .text-footer{
        bottom:0px;
    }
} 